files:
  /etc/apache2/sites-available/base.conf:
    mode: "000644"
    owner: root
    group: root
    content: |

        <VirtualHost *:80>
            DocumentRoot /var/www/website
            <Directory />
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                Allow from all
            </Directory>
            <Directory /var/www/website>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride all
                Order allow,deny
                Allow from all
            </Directory>
            ErrorLog /var/www/website/log/http.log
            CustomLog /var/www/website/log/access.log common
        </VirtualHost>
